* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F1F3F4;
}



/* 1. Landing Section */
#main {
    background-image: url("../images/main-bg-01-01.svg");
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

#main .title_wrapper {
    position: absolute;
    top: 20%;
    width: auto;
}
#main .title_wrapper h1 {
    font-weight: 800;
    font-size: 5rem;
    color: #000;
}
#main .title_wrapper .landing_title {
    font-weight: 400;
    font-size: 2rem;
    color: #000;
}

.works {
    margin-top: 40px;
}

.view_works_text {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    min-width: 150px;
    background-color: #008080;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 10px;
}
.view_works_text:hover {
    background: transparent;
    color: #008080;
    border: 1px solid #008080;
    transition: all ease 0.3s;
}
.hire_me_text {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #008080;
    font-size: 1rem;
    min-width: 150px;
    border: solid 1px #008080;
    background-color: transparent;
    padding: 10px 20px;
    z-index: 2;
    border-radius: 10px;
}
.hire_me_text:hover {
    background: #008080;
    color: #fff;
    border: solid 1px #008080;
    transition: all ease 0.3s;
}

.icon_wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80%;
}
.icon_main {
    margin-top: 10px;
    margin-right: 30px;
}
.icon_main:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}
.icon_main i {
    padding: 11px;
    border: 1px solid #008080;
    width: 40px;
    height: 40px;
    color: #008080;
    text-align: center;
    border-radius: 50%;
}

.icon_main i:hover {
    background: #008080;
    color: #fff;
    transform: scale(1.1);
    transition: 0.3s all ease;
}


/* 2. What I do Section */ 
.what_i_do {
    height: 1200px;
    width: 100%;
    margin-top: 100px;
    position: relative;

}

.second_bg {
    overflow: hidden;
    position: relative;
    height: 800px;
}
.second_bg_ver1 {
    height: 800px;
    position: absolute;
    right: -100px;
    overflow: hidden;
    z-index: -1;
}
.second_bg_ver2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    
}
.second_bg_ver3 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
}


.what_i_do_text {
    position: relative;
    margin-bottom: 40px;
}
.what_i_do .container .what_i_do_subtext {
    padding-top: 30px;
    color: #008080;
    font-weight: 600;
    font-size:1.5rem;
}

.image_container {
    background: #079995;
    height: 180px;
    width: 180px;
    margin: auto;
    border-radius: 50%;
}

.big_text {
    font-size: 7.5rem;
    font-weight: 700;
}
.skill_wrapper {
    margin-top: 100px;
}
.skill {
    padding-top: 50px;
    min-height: 550px;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 20px;
}
.skill button {
    margin-top: 30px;
    font-size: 1.3rem;
    padding: 6px 20px;
    border-radius: 14px;
    background: #008080;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.skill:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: 0.5s all ease;
    transform: scale(1.02);
    background-color: #fff;
}
.skill:hover button {
    visibility: visible;
    opacity: 1;
    transition: all 0.3 ease;
}

.skill_icon {
    margin: 30px auto auto auto;
    height: 150px;
}

.subtext {
    max-width: 260px;
    text-align: center;
    margin: 10px auto auto auto;
}

/* 3. My Tech Stack Section */

.my_tech {
    height: 560px;
}

.my_tech .container {
    margin-top: 350px;
}

.my_tech h1 {
    padding-top: 50px;
    font-weight: 800;
    font-size: 5rem;
    line-height: 0.95;
    opacity: 0.08;
}
.my_tech h3 {
   color: #008080;
    font-weight: 600;
    font-size:1.5rem;;
    position: absolute;
    left: 570px;
    top: 110px;
}
.tech_text_wrapper {
    position: relative;
}
.tools_wrapper {
    margin-top: 100px;
}
.tools_wrapper .col p {
    font-size: 1rem;
}
.tech_icon {
    height: 50px;
    margin-top: 10px;
}
.tools_wrapper .col:hover {
    transform: translateY(-10px);
    transition: ease all 0.3s;
}

/*4. Separator*/
.separator_bg_1 {
    height: 750px;
    /* background-color: rgb(122, 115, 115); */
    position: relative;
    overflow: hidden;
}
.separator_inspi {
    max-width: 800px;
    float: right;
}
.separator_inspi h1{
    font-size: 6rem;
    font-weight: bold;
    text-align: right;
}
.separator_inspi img {
    position: absolute;
    top: 100px;
    left: 50px;
    overflow: hidden;
    height: 600px;
    z-index: -1;
}

.separator_bg_2 {
    height: 200px;
}

/* 5. Projects*/
.projects {
    margin-top: 100px;
    height: auto;
    position: relative;
    
}
.bg_proj_1 {
    position: absolute;
    height:700px;
    left: -300px;
    top: 250px;
    opacity: 0.5;
}
.projects h1 {
    font-weight: bolder;
    font-size: 5rem;
    line-height: 0.95;
    opacity: 0.08;
    
}
.projects h3 {
    color: #008080;
    font-weight: 600;
    font-size:1.5rem;;
   
}

.card {
    margin: 15px;
    border-radius: 30px;
    border: none;
}

.card:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transform: scale(1.01);
    transition: all ease-in-out 0.4s;
}
.project_title {
    font-size: 2rem;
}
.project_1 {
    background: url("../images/bg_proj_box_1-04.svg");
    background-size: cover;
    background-position: center;
}
.project_2 {
    background: url("../images/bg_proj_box_1-04.svg");
    background-size: cover;
    background-position: center;
}
.card-body {
    border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px;
    background-color: #fff;
}
.project_3 {
    background: url("../images/bg_proj_box_1-04.svg");
    background-size: cover;
    background-position: center;
}
.project_4 {
    background: url("../images/bg_proj_box_1-04.svg");
    background-size: cover;
    background-position: center;
}
.card__bg {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 400px;
    margin: 10px 10 0px 10px;
    
}
.card__bg.card__image_1 {
    background-image: url("../images/todo-list.JPG");
    background-position: center center;
    background-size: cover;
}
.card__bg.card__image_2 {
    background-image: url("../images/simon-game.JPG");
    background-position: center center;
    background-size: cover;
}
.card__bg.card__image_3 {
    background-image: url("../images/keeper.JPG");
    background-position: center center;
    background-size: cover;
}
.card__bg.card__image_4 {
    background-image: url("../images/ecommerce.JPG");
    background-position: center center;
    background-size: cover;
}
.projects .card-body a {
    color: #5F6161;
    font-size: 1.5rem;
    margin: 5px;
}

/* 7. Lets Chat */
.lets_chat {
    height: 800px;
}

form {
    padding: 1rem 2.2rem;
    z-index: 10;
    overflow: hidden;
}
.contact_title {
    color: #000;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}
.input_container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 81%;
    outline: none;
    border: 2px solid #000;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #000;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: 0.3s;

}
textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
}
.input_container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #000;
    font-size: 0.9rem;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;

}
.input_container.textarea label{
    top: 1rem;
    transform: translateY(0);
}
.send_button {
    padding: 0.9rem 2rem;
    background: #fff;
    border: 2px solid #008080;
    font-size: 0.95rem;
    color: #008080;
    line-height: 1;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.send_button i {
    margin-left: 15px;
}
.send_button:hover {
    background-color: #008080;
    color:#fff;
}
.input_container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}
.input_container span::before,
.input_container span::after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
}
.input_container span::before {
    left: 50%;
}
.input_container span::after {
    right: 50%;
}
.input_container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}
.input_container.focus span::before,
.input_container.focus span::after {
    width: 50%;
    opacity: 1;
}

.contact_icon {
    width: 28px;
    height: 28px;
    margin: 1.5rem 0.7rem 2rem 0;
}

.contact_info .title {
    color: #1abc9c;
}
.contact_text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}
.information {
    display: flex;
    margin: 0.1rem 0;
    align-items: center;
}
.social_media {
    padding: 2rem 0 0 0;
}
.social_media p {
    color: #333;

}

.social__icon {
    display: flex;
    margin-top: 0.5rem;
}
.social__icon a {
    width: 35px;
    height: 35px;
    border: 5px;
    padding-top: 10px;
    margin-left: 10px;
    background: #008080;
    text-align: center;
    line-height: 35px;
    color: #fff;
    transition: 0.3s;
    border-radius: 10px;
}
.social__icon a:hover {
    transform: scale(1.05);;
}

.contact__bg {
    position: relative;
}

.contact__me .container {
    height: 800px;
    max-width: 1200px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 30px;
    
    
}
.contact__me .container .hello_text {
    position: relative;
}
.contact__me .container .hello_text .first_box {
    margin-top: 60px;
    margin-left: 150px;
    max-width: 450px;
}

.contact__me .row .contact_info {
    margin-left: 150px;
}
.second_box img{
    height: 320px;
    position: absolute;
    right: 100px;
    top: -150px;
}


/* 8. Footer */
.footer_section {
   
    width: 100vw;
    background-color: #008080;
    
}
.footer_content {
    margin-top: 100px;
    padding-top: 30px;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer_content h3 {
    color: #000;
    font-size: 1.8rem;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer_content p {
    color: #fff;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer_section ul {
    padding-left: 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: #fff;
}
.socials a i {
    font-size: 1.5rem;

}
.socials a:hover i {
    color: aqua;
    transform: scale(1.1);
    transition: 0.3s all ease;
}
.footer_bottom {
    width: 100vw;
    padding: 20px 0;
}
.footer_bottom p {
    color: #fff;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-bottom: 50px;
}
.footer_bottom span {
    text-transform: uppercase;
    opacity: .4;
}



/* Media Queries */


@media screen and (min-width: 279px) and (max-width: 420px){
    #main .title_wrapper {
        position: absolute;
        top: 12%;
        max-width: 800px;
        
        }
    #main .title_wrapper h1 {
        font-weight: 800;
        font-size: 3rem;
        color: #000;
        }

    .icon_wrapper {
        left: 6%;
        margin-top: 10px;
    }
    .hire_me_text {
        background-color: #F1F3F4;
        margin-top: 10px;
        font-size: 0.7rem;
        width: 162px;
    }
    .view_works_text {
        display: block;
        background-color: #F1F3F4;
        color: #008080;
        font-size: 0.7rem;
        border: solid 1px #008080;
        z-index: 3
    }
    .view_works_text:hover {
        background-color: #008080;
        color: #fff;
    }
    .icon_main i {
        background-color: #F1F3F4;
    }
    .what_i_do{
            height: 1800px;
        }

    .what_i_do .container.subtitle h3 {
        font-size: 19px;
    }
    .big_text{
        font-size: 3rem;
    }  
    .second_bg_ver1{
        display: none;
    }
    .second_bg_ver2 {
        visibility: visible;
        opacity: 0.6;
        height: 400px;
        left:200px;
        overflow: hidden;
        z-index: -1;
    }

    .second_bg_ver3 {
        visibility: visible;
        opacity: 0.7;
        z-index: -1;
        height: 400px;
        top: 200px;
        left:-290px;
        overflow: hidden;
    }
    .second_bg{
        height: 500px;
    }
    .skill {
        margin: 15px;
        min-height: 450px;
        padding-top: 15px;
    }
    .skill_icon {
        height: 100px;
    }
    .image_container{
        height: 150px;
        width: 150px;
    }
    .learn_more_button{
        margin-bottom: 30px;
    }

    /*3. My Tech Stack */
    .my_tech {
        height: 600px;
    }
    .my_tech h1{
        font-size: 2.5rem;
        padding-top: 0px;
    }
    .my_tech h3 {
        font-size: 1.2rem;
        left: 100px;
        width: calc(100% - 200px);
        top: 40px;
    }
    .tech_icon {
        height: 30px;
    }
    .tools_wrapper{
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    /*5. Projects */

    .projects {
        height: auto;
       
    }
    .card {
        margin: 0px 0px 20px 0px;
    }
    .projects h1{
        font-size: 4rem;
    }

    /* 7. Lets Chat */
    .contact__me .container {
        height: 1000px;
    }
    
    .input {
        width: 100%;
    }
    .contact__me .row .contact_info {
        margin-left: 10px;
    }
    .contact__me .contact_info p.contact_text {
        color: #333;
        margin: 0px;
        padding: 0px;
        
    }
    .contact__me .container .hello_text .first_box {
        
        margin-left: 10px;
        
    }
    .social_media{
        display: none;
    }

    .second_box img{
        display: none;
    }

    
    /*Separator*/
    .separator_bg_1 {
        height: 650px;
    
    }
    .separator_inspi h1{
        font-size: 2rem;
        font-weight: bold;
        text-align: right;
    }
    .separator_inspi img {
        height: 400px;
        left: -220px;
        top: 110px;
        
    }



}
@media screen and (min-width: 450px) and (max-width: 1000px) {
    .what_i_do {
        height: 2300px;
    }
    .big_text {
        font-size: 4.5rem;
    }
    .second_bg_ver1 {
        height: 450px;
        z-index: -1;
        opacity: 0.7;
    }
    .my_tech h1 {
        font-size: 3rem;
    }

    .my_tech h3 {
        color: #008080;
        font-size: 1.5rem;
        left: 200px;
        width: calc(100% - 400px);
        top: 100px;
    }
    .tools_wrapper{
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .separator_bg_1 {
        height: 650px;
        
    }
    .separator_inspi h1{
        font-size: 3rem;
        font-weight: bold;
        text-align: right;
    }
    .separator_inspi img {
        height: 500px;
        left: -150px;
        top: 110px;
        
    }

    .second_box img {
        display: none;
    }
    .contact__me .container {
        margin: auto;
    }
    .contact__me .container .hello_text .first_box {
        margin-top: 60px;
        margin-left: 10px;
        max-width: 450px;
    }
    .contact__me .contact_info p.contact_text {
        color: #333;
        margin: 0px;
        padding: 0px;
        
    }
    .contact__me .row .contact_info {
        margin-left: 10px;
    }
    .input {
        width: 100%;
    }
    

}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .second_bg_ver1 {
        height: 500px;
        opacity: 0.7;
    }
    .what_i_do {
        height: 1200px;
    }
    .my_tech h3 {
        left: 430px;
        top: 120px;
    }
    .tools_wrapper{
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    
    }
    .separator_inspi h1{
        font-size: 3rem;
    }
    .separator_inspi img {
        
        left: -150px;
        top: 110px;
        
    }
    .second_box img {
        height: 250px;
        top: -80px;
    }



}





/************************************************************************************/

